﻿@model IEnumerable<MASGlobalTest.BL.DTO.Employee>

@{
    ViewBag.Title = "Employees Salary";
}

<h2>Employees Salary</h2>

<p>
@using (Html.BeginForm("Index", "Salary", FormMethod.Get)){
	<div class="form-inline">
	@Html.TextBox("id", "", new { @class = "form-control" })
	<input type="submit" value="Get Employees" class="btn btn-success" />
	</div>
}
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HourlySalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlySalary)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HourlySalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlySalary)
        </td>
    </tr>
}

</table>
